* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  color: black;
}
.content{
  width: 100vw;
  height: 100vh;
}
.left{
  position: absolute;
  top: 0;
  left: 0;
  width: 60vw;
  height: 100vh;
}
.left h1,p{
	color: white;
}
.matdaan{
	margin-top: 430px;
	margin-left: 580px;
}
.left p{
	margin-left: 450px;
}
.left a{
	margin-left: 600px;
}
.left a .regbtn{
	margin-left: 400px;
}
.left img{
	width: 100%;
	height: 100vh;
}
.right {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  width: 40vw;
  background: linear-gradient(to bottom, #FFFFFF, #EF3B36);
}
.right p{
	color: black;
}
#rulesection{
	margin-top: 90px;
	margin-left: 20px;
}
#rulesection h3{
	text-align: center;
	margin-bottom: 70px;
}
button {
  font-size: 14px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  margin-top: 100px;
}

button:focus,
button:hover {
  color: #fff;
}

button:focus:after,
button:hover:after {
  width: 100%;
  left: 0%;
}

button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}